html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

p {
  margin-top: 0;
  font-weight: normal;
  margin-top: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

form {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

li {
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: 14px;
  color: #333;
  background-color: #fff; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.group:after, .contain:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive-21by9::before {
  padding-top: 42.857143%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.swiper-button-disabled {
  opacity: 0 !important; }

.swiper-button:focus {
  outline: none; }

.lcpadding {
  padding-left: calc((100% - 1240px)/2); }
  @media only screen and (max-width: 1199px) {
    .lcpadding {
      padding-left: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .lcpadding {
      padding-left: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .lcpadding {
      padding-left: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .lcpadding {
      padding-left: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .lcpadding {
      padding-left: 15px; } }

.rcpadding {
  padding-right: calc((100% - 1240px)/2); }
  @media only screen and (max-width: 1199px) {
    .rcpadding {
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .rcpadding {
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .rcpadding {
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .rcpadding {
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .rcpadding {
      padding-right: 15px; } }

.contain {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

@media only screen and (max-width: 1280px) {
  .contain {
    max-width: 1170px; } }

@media only screen and (max-width: 1199px) {
  .contain {
    max-width: 970px; } }

@media only screen and (max-width: 991px) {
  .contain {
    max-width: 750px; } }

@media only screen and (max-width: 767px) {
  .contain {
    max-width: 600px; } }

@media only screen and (max-width: 640px) {
  .contain {
    max-width: 530px; } }

@media only screen and (max-width: 575px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

@media only screen and (min-width: 1080px) {
  .main-mnu {
    display: block !important; }
  .hidden-mnu {
    display: none; } }

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-regular.woff") format("woff"), url("../fonts/Calibri-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

button {
  border: none;
  outline: none; }

textarea:hover, textarea:active, textarea:focus {
  outline: none; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #222222;
  line-height: 1.25;
  position: relative;
  min-height: 100vh; }
  body.ohi {
    overflow: hidden; }

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.main {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 122px; }

/*modal*/
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;
  display: none;
  background: rgba(45, 40, 40, 0.5); }

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2; }

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 6;
  width: 555px;
  background-color: #FFF;
  min-height: 100px; }

.modal-form__inner {
  position: relative; }

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0; }

.header {
  padding-top: 22px;
  padding-bottom: 21px; }
  .header button {
    margin-left: 54px; }

.header__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 700;
  font-size: 24px;
  color: #3b71fe; }
  .logo:hover {
    text-decoration: none; }

.header__r {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__r ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__r ul li {
      margin-left: 22px; }
      .header__r ul li a {
        font-weight: 700;
        color: #767f98; }
        .header__r ul li a:hover {
          text-decoration: none; }

.hero {
  background: #f8f8f8;
  padding-top: 46px;
  padding-bottom: 47px; }

.hero h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: #222222;
  margin-bottom: 3px; }

.hero__l {
  width: 548px;
  margin-right: 187px;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none; }

.hero__r {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.hero__l div {
  font-size: 24px;
  line-height: 1.2;
  color: #222222;
  margin-bottom: 16px; }

.hero__l p {
  line-height: 1.3;
  color: #222222; }

.hero form {
  margin-top: 14px;
  background: white;
  border-radius: 4px;
  height: 58px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.hero input[type="text"] {
  height: 100%;
  width: 100%;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 15px;
  border: none;
  padding-left: 15px; }

.hero input[type="submit"] {
  width: 58px;
  height: 58px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 0;
  border: none;
  background-color: #FFF; }

.hero__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.col-l {
  width: calc(100% - 298px);
  padding-right: 32px; }

.col-r {
  width: 298px;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none; }

.mcontent {
  padding-top: 40px; }

button {
  height: 50px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 26px;
  padding-right: 26px;
  background: #3b71fe;
  border-radius: 4px;
  font-weight: 700;
  color: white; }

*[class$="__btn"], button {
  transition: background 0.5s; }
  *[class$="__btn"]:hover, button:hover {
    background: #1B4BC8;
    text-decoration: none; }

.pcard {
  padding: 33px 24px 24px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin-bottom: 24px;
  transition: border 0.5s; }
  .pcard:hover {
    border: 1px solid #C0C0C0; }

.pcard__top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.pcard__img-w {
  width: 126px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 14px; }

.pcard__info {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.pcard__info-row {
  margin-bottom: 7px; }
  .pcard__info-row p {
    font-weight: 700;
    line-height: 1.3;
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 0px; }
  .pcard__info-row a {
    font-size: 14px;
    color: #999999;
    background-image: url("../img/site.svg");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 16px;
    display: inline-block; }

.rating {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .rating span {
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
    background-position: left top;
    display: inline-block;
    width: 16px;
    height: 16px; }
    .rating span.star-o {
      background-image: url("../img/star-o.svg"); }
  .rating > div {
    display: inline-block;
    margin-left: 7px; }

.pcard > div {
  font-weight: 600;
  line-height: 1.3;
  color: #222222;
  margin-bottom: 9px; }

.pcard > p {
  line-height: 1.5; }

.pcards__btn-w {
  margin-top: 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.sort {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px; }
  .sort li {
    margin-right: 35px; }
    .sort li a {
      color: #222222; }
      .sort li a.active {
        color: #3B71FE; }
      .sort li a:hover {
        text-decoration: none;
        color: #3B71FE; }

.footer {
  padding-top: 38px;
  padding-bottom: 38px;
  background: #F8F8F8; }

.footer__row {
  margin-top: 25px; }

.footer__row div {
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 1.2;
  color: #767f98; }

.footer__row p {
  font-size: 13px;
  line-height: 1.2;
  color: #767f98; }

.footer__row a {
  color: #767f98; }

.rfilter > div {
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: #222222;
  margin-bottom: 26px; }

.rfilter label {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .rfilter label:not(:last-child) {
    margin-bottom: 20px; }
  .rfilter label input[type="checkbox"] {
    display: none; }
    .rfilter label input[type="checkbox"] + span {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 16px;
      height: 16px;
      border: 1px solid #DDDDDD;
      border-radius: 2px;
      margin-right: 7px; }
    .rfilter label input[type="checkbox"]:checked + span {
      background: #3B71FE url("../img/check.svg") no-repeat center;
      border: none; }
  .rfilter label div sup {
    cursor: pointer;
    color: #3B71FE;
    font-weight: 600; }

.completed-slde-dots {
  position: absolute;
  left: 28px;
  bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .completed-slde-dots li {
    font-size: 0;
    padding: 0;
    margin: 0;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    background: none;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer; }
    .completed-slde-dots li:focus {
      outline: none; }
    .completed-slde-dots li:active {
      outline: none;
      background: none; }
  .completed-slde-dots .slick-active {
    border: 2px solid white;
    background-color: #ffffff; }

.nobrd {
  border: none; }

body.active {
  background: url("../img/1920.jpg") no-repeat top -10px center; }
  body.active .wrapper {
    opacity: 0.4; }
  body.active .footer {
    opacity: 0.4; }
  body.active .get {
    opacity: 0.4; }

.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  z-index: 100;
  border-radius: 50%; }

@media (max-width: 640px) {
  .help-call .measurer-form .btn {
    margin-top: 0; } }
